<%= form_for(:message, :html => {class:"form-horizontal",role:"form"},url: message)  do |b| %>

  <div class="form-horizontal" style="position: center;height: auto">


    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= b.label :Name %>
      </div>
      <div class="col-sm-10">
        <%= b.text_field :name, class:"form-control", placeholder:"Jake Peralta", autofocus: true %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= b.label :Email %>
      </div>
      <div class="col-sm-10">
        <%= b.email_field :email, class:"form-control" , placeholder:"example@example.com" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= b.label :Phone %>
      </div>
      <div class="col-sm-10">
        <%= b.text_field :phone, class:"form-control" , placeholder:"+91-1234567890" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= b.label :Message %>
      </div>
      <div class="col-sm-10">
        <%= b.text_area :message, class:"form-control" , placeholder:"Hi! I want to say that...." %>
      </div>
    </div>

      <div class="container">
        <div class="btn-group center" style="position: center">
          <%= b.submit "Send Message" ,class:"btn btn-primary"%>
          <%=link_to "Cancel","#message",class: "btn btn-danger",style: "color:#fff" %>
        </div>
      </div>



  </div>
<%end %>

