

<h1>Messages</h1>
<div style="text-align: center">
  <%= will_paginate @message %>
</div>

<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= flash[:danger] %>
</div>

<div>
<% @message.each do |message| %>
  <div class="col-xs-4 col-xs-offset-4">
    <div class="well well-lg">
      <div class="movie-title">
        <%= link_to message.name, message_path(message) %>
      </div>

     

      <div class="movie-body">
        <%= truncate(message.message, length: 300) %>
        <div class="message-meta-details">
          <small>
            &nbsp| Created On: <%=time_ago_in_words(message.created_at)  %>
            &nbsp| Last Updated On: <%= time_ago_in_words(message.updated_at) %>
          </small>
        </div>
      </div>


      <%=link_to 'Delete', delete_message_path(message), data:{confirm: "Are you Sure?"},class: "btn btn-xs btn-danger" %>


    </div>
  </div>

<%end %>
</div>


<div style="text-align: center">
  <%= will_paginate @message %>
</div>
