<div class="container" style="margin-top: 10vmin;width: auto">
  <div class="row">
    <div class=" col-xs-12">
      <div class="well well-lg" style="width: auto">
        <div class="movie-title" style="text-align: center">
          <p><%= link_to "#{current_user.username}",user_path(current_user.id),class:"text text-primary",style: "font-size:3vmin;text-align:center" %></p>
        </div>

          <%=image_tag "doc.png" , class: "img-rounded img-responsive center "%>



        <div class="btn-group-justified" style="margin-top: 15vmin;">

            <%= link_to 'My Profile' ,user_path(current_user.id),class: "btn btn-sm btn-primary",style: "color:#fff;font-size: x-small;"%>
            <%= link_to 'Edit Profile' ,edit_user_path(current_user.id),class: "btn btn-success btn-sm",style: "color:#fff;font-size: x-small"%>
          <%= link_to 'Messages' ,messages_path,class: "btn btn-warning btn-sm",style: "color:#fff;font-size: x-small;text-align:center"%>

        </div>

      </div>
    </div>
  </div>
</div>