<%if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" style="margin-top: 10vmin">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= flash[:notice] %>
  </div>
<%end %>

<div style="height: 15vmin"></div>

<div>
  <h1 style="font-size: 5vmin;text-align: center;padding-bottom: 10vmin">User Profile</h1>

    <div class="col-xs-offset-2 col-xs-8">
      <div class="well well-lg" style="background-color: #f2f2f2">
        <div class="movie-title">
          <p style="text-align: center;font-size: 4vmin;padding-bottom: 3vmin"><%= @user.username %></p>
        </div>
        <%=image_tag "doc.png" , class: "img-rounded img-responsive center "%>
        <div class="row" style="margin-bottom: 5vmin">
          <div class="btn-group-justified btn-sm" style="position: center">
            <%= link_to 'Edit', edit_user_path(@user),class: "btn btn-sm btn-primary",style:"color:#ffffff;text-align:center" %>
            <%= link_to 'Back', admin_path,class: "btn btn-sm btn-danger",style:"color:#ffffff;text-align:center"%>
          </div>
        </div>
      </div>
    </div>


</div>



