<!-- Departments -->
<hr>
<div style="height: 10px;margin-top: 2em" id="department" ></div>
<div class="container" >
  <h1 style="text-align: center;font-family: 'Arial';padding-bottom: 7vmin;padding-top: 1em;font-size: 5vmin">Departments</h1>
  <div class="row" >
    <div class=" col-xs-6 col-md-5 ">
      <div class="well well-xs shadow" style="border-radius: 1vw;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px;font-size:3vmin">Department</h2>
        <%=image_tag "dept.png" , class: "img-circle img-responsive center "%>
        <p style="text-align: center;margin-top: 10px;font-size: 2vmin" class="text-justify">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

    <div class=" col-xs-6 col-md-offset-2  col-md-5">
      <div class="well well-xs shadow " style="border-radius: 1vw;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px;font-size:3vmin">Department</h2>
        <%=image_tag("dept.png", class: "img-circle img-responsive center")%>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

  </div>



  <div class="row">
    <div class=" col-xs-6  col-md-5">
      <div class="well well-xs shadow " style="border-radius: 1vw;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px;font-size:3vmin">Department</h2>
        <%=image_tag("dept.png", class: "img-circle img-responsive center")%>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

    <div class=" col-xs-6 col-md-offset-2 col-md-5">
      <div class="well well-xs shadow" style="border-radius: 1vw;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px;font-size:3vmin">Department</h2>
        <%=image_tag("dept.png", class: "img-circle img-responsive center")%>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

  </div>


  <div class="row">
    <div class=" col-xs-6  col-md-5">
      <div class="well well-xs shadow" style="border-radius: 1vw;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px;font-size:3vmin">Department</h2>
        <%=image_tag("dept.png", class: "img-circle img-responsive center")%>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

    <div class=" col-xs-6 col-md-offset-2 col-md-5">
      <div class="well well-xs shadow" style="border-radius: 1vw;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px;font-size:3vmin">Department</h2>
        <%=image_tag("dept.png", class: "img-circle img-responsive center")%>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

  </div>
</div>
