<!-- Departments -->
<hr>

<div class="container" id="department">
  <h1 style="text-align: center;font-family: 'Poppins SemiBold';font-weight: bold;padding-bottom: 2.5em;padding-top: 1em   "><u>Departments</u></h1>
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <div class="well well-sm red shadow" style="border-radius: 1.5cm;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Department</h2>
        <%=image_tag "dept.png" , class: "img-circle center"%>
        <p style="text-align: center;margin-top: 10px">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

    <div class="col-md-offset-2 col-md-4">
      <div class="well well-sm blue shadow" style="border-radius: 1.5cm;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Department</h2>
        <%=image_tag("dept.png", class: "img-circle center")%>
        <p style="text-align: center;margin-top: 10px">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

  </div>



  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <div class="well well-sm green shadow " style="border-radius: 1.5cm;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Department</h2>
        <%=image_tag("dept.png", class: "img-circle center")%>
        <p style="text-align: center;margin-top: 10px">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

    <div class="col-md-offset-2 col-md-4">
      <div class="well well-sm yellow shadow" style="border-radius: 1.5cm;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Department</h2>
        <%=image_tag("dept.png", class: "img-circle center")%>
        <p style="text-align: center;margin-top: 10px">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <div class="well well-sm skyblue shadow" style="border-radius: 1.5cm;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Department</h2>
        <%=image_tag("dept.png", class: "img-circle center")%>
        <p style="text-align: center;margin-top: 10px">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

    <div class="col-md-offset-2 col-md-4">
      <div class="well well-sm orange shadow" style="border-radius: 1.5cm;">
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Department</h2>
        <%=image_tag("dept.png", class: "img-circle center")%>
        <p style="text-align: center;margin-top: 10px">Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
          As a thank you, we only ask that you include a link back to
          Glyphicons whenever possible.</p>
      </div>
    </div>

  </div>
</div>
