<hr>
<div class="container" id="ourteam">
  <h1 style="text-align: center;font-family: 'Arial';padding-bottom: 7vmin;padding-top: 1em;font-size: 5vmin">Our Team</h1>
    <div class="row" style="padding-bottom: 4vw">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
        <%=image_tag "doc.png" , class: "img-thumbnail img-responsive center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 1vmin;font-size: 3vmin;">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">MBBS,MD</p>
      </div>
    </div>

    <div class="row" style="padding-bottom: 3em">
      <div class="col-xs-4 col-md-4">
        <%=image_tag "doc.png" , class: "img-thumbnail img-responsive center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 1vmin;font-size: 2.5vmin;">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">MBBS,MD</p>
      </div>

      <div class="col-xs-4 col-md-4">
        <%=image_tag "doc.png" , class: "img-thumbnail img-responsive center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 1vmin;font-size: 2.5vmin;">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">MBBS,MD</p>
      </div>

      <div class="col-xs-4 col-md-4">
        <%=image_tag "doc.png" , class: "img-thumbnail img-responsive center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 1vmin;font-size: 2.5vmin;">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px;font-size:2vmin">MBBS,MD</p>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%=image_tag "doc.png" , class: "img-thumbnail img-responsive center"%>
      <h2 style="text-align: center;font-weight: bold;padding-bottom: 1vmin;font-size: 2.5vmin;">Dr. Suhail Jafri</h2>
      <p style="text-align: center;margin-top: 10px;font-size:2vmin">MBBS,MD</p>
    </div>

    <div class="col-xs-4 col-md-4">
      <%=image_tag "doc.png" , class: "img-thumbnail img-responsive center"%>
      <h2 style="text-align: center;font-weight: bold;padding-bottom: 1vmin;font-size: 2.5vmin;">Dr. Suhail Jafri</h2>
      <p style="text-align: center;margin-top: 10px;font-size:2vmin">MBBS,MD</p>
    </div>

    <div class="col-xs-4 col-md-4">
      <%=image_tag "doc.png" , class: "img-thumbnail img-responsive center"%>
      <h2 style="text-align: center;font-weight: bold;padding-bottom: 1vmin;font-size: 2.5vmin;">Dr. Suhail Jafri</h2>
      <p style="text-align: center;margin-top: 10px;font-size:2vmin">MBBS,MD</p>
    </div>
  </div>

  </div>
</div>
