<hr>
<div class="container" id="ourteam">
  <h1 style="text-align: center;font-family: 'Poppins SemiBold' ;font-weight: bold;padding-bottom: 2.5em;padding-top: 1em "><u>Our Team</u></h1>
    <div class="row" style="padding-bottom: 8em">
      <div class="col-md-offset-4 col-md-4">
        <%=image_tag "doc.png" , class: "img-circle center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px">MBBS,MD</p>
      </div>
    </div>

    <div class="row" style="padding-bottom: 3em">
      <div class="col-md-4">
        <%=image_tag "doc.png" , class: "img-circle center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px">MBBS,MD</p>
      </div>

      <div class="col-md-4">
        <%=image_tag "doc.png" , class: "img-circle center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px">MBBS,MD</p>
      </div>

      <div class="col-md-4">
        <%=image_tag "doc.png" , class: "img-circle center"%>
        <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Dr. Suhail Jafri</h2>
        <p style="text-align: center;margin-top: 10px">MBBS,MD</p>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <%=image_tag "doc.png" , class: "img-circle center"%>
      <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Dr. Suhail Jafri</h2>
      <p style="text-align: center;margin-top: 10px">MBBS,MD</p>
    </div>

    <div class="col-md-4">
      <%=image_tag "doc.png" , class: "img-circle center"%>
      <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Dr. Suhail Jafri</h2>
      <p style="text-align: center;margin-top: 10px">MBBS,MD</p>
    </div>

    <div class="col-md-4">
      <%=image_tag "doc.png" , class: "img-circle center"%>
      <h2 style="text-align: center;font-weight: bold;padding-bottom: 5px">Dr. Suhail Jafri</h2>
      <p style="text-align: center;margin-top: 10px">MBBS,MD</p>
    </div>
  </div>

  </div>
</div>
