
<div style="height: 10vmin;margin-top: 2em" id="home" ></div>
<div class="" >
<div class="jumbotron-main" style="height: auto; border-radius: 1vmin;position: relative" >
    <div class="row" >
      <div class="col-xs-offset-2 col-xs-6 col-md-offset-2 col-md-6 " style="margin-top: 1vmin;padding-bottom: 30vmin;">
        <h1 style="font-size: 5vmin">Welcome!</h1>
        <blockquote>
          <p style="font-size: 2vmin;line-height: 1.6">The hospital that feeds you refined sugar, white bread, canned soup, bouillon cubes,
            and frozen vegetables should be closed by the health department as a menace to the public health.</p>
        </blockquote>

          <div class=" col-xs-4" style="position: center">
            <a href="#message"><p class="btn btn-primary" style="font-size: small;width: available">Contact Us!</p></a>
          </div>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/departments' %>

<%= render 'pages/ourteam' %>

<%= render 'pages/message' %>

<%= render 'pages/findus' %>

<%= render 'pages/footer' %>