<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sshafin Hospital</title>

    <%= render 'layouts/scripts' %>

    <!--
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->

  <style>
    html {
    scroll-behavior: smooth;
          }
  </style>
  </head>
  <%= render 'pages/navbar' %>
  <body>

      <%if logged_in?%>
        <div class="row" style="margin-top: 15vmin">
          <div class="col-xs-offset-2 col-xs-4" style="position: center">
              <%= link_to 'Admin',admin_path,class:"btn btn-lg btn-success btn-block",style:"color:#ffffff;text-align:center;font-size:3vmin;"  %>
          </div>
          <div class=" col-xs-4" style="position: center">
            <%= link_to 'Logout',logout_path,class:"btn btn-lg btn-danger btn-block ",style:"color:#ffffff;text-align:center;font-size:3vmin;" %>
          </div>
        </div>
      <%end %>

    <%= yield %>
  </body>
</html>
